# Exclude windows config files, shortcuts and temporary files
*.db
*.ini
*.lnk
*.url
~*
$RECYCLE.BIN/

# Exclude build folder
/[Tt]arget

# Ignore vim files
*~
*.swp

# Configure ignore and track for Visual Studio and Visual Studio Code
.vs/*
.vscode/*
